In [1]:
import numpy as np
import pandas as pd

In [3]:
temp2014= pd.read_csv('Climate_2014.csv')
temp2015= pd.read_csv('Climate_2015.csv')
temp2016= pd.read_csv('Climate_2016.csv')
temp2017= pd.read_csv('Climate_2017.csv')
temp2018= pd.read_csv('Climate_2018.csv')
temp2019= pd.read_csv('Climate_2019.csv')
temp2019.head()

,Longitude (x),Latitude (y),Station Name,Climate ID,Date/Time,Year,Month,Day,Data Quality,Max Temp (°C),...,Total Snow (cm),Total Snow Flag,Total Precip (mm),Total Precip Flag,Snow on Grnd (cm),Snow on Grnd Flag,Dir of Max Gust (10s deg),Dir of Max Gust Flag,Spd of Max Gust (km/h),Spd of Max Gust Flag
0,-79.47,43.78,TORONTO NORTH YORK,615S001,2019-01-01,2019,1,1,†,0.5,...,0.0,NaN,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,-79.47,43.78,TORONTO NORTH YORK,615S001,2019-01-02,2019,1,2,†,0.0,...,5.6,NaN,3.6,NaN,0,NaN,NaN,NaN,NaN,NaN
2,-79.47,43.78,TORONTO NORTH YORK,615S001,2019-01-03,2019,1,3,†,2.0,...,0.0,NaN,0.0,NaN,6,NaN,NaN,NaN,NaN,NaN
3,-79.47,43.78,TORONTO NORTH YORK,615S001,2019-01-04,2019,1,4,†,8.0,...,0.0,NaN,0.0,NaN,4,NaN,NaN,NaN,NaN,NaN
4,-79.47,43.78,TORONTO NORTH YORK,615S001,2019-01-05,2019,1,5,†,4.0,...,0.0,T,0.0,NaN,3,NaN,NaN,NaN,NaN,NaN

In [5]:
temp_df = pd.concat([temp2014,temp2015,temp2016,temp2017,temp2018,temp2019], axis=0)
temp_df.shape

(2191, 31)

In [9]:
temp_df['Max Temp (°C)'].isna().sum()

0

In [11]:
temp_df = temp_df[['Date/Time', 'Mean Temp (°C)', 'Total Rain (mm)', 'Total Snow (cm)', 'Total Precip (mm)', 'Snow on Grnd (cm)']]
temp_df.head()

,Date/Time,Mean Temp (°C),Total Rain (mm),Total Snow (cm),Total Precip (mm),Snow on Grnd (cm)
0,2014-01-01,-12.0,0.0,0.0,0.0,15
1,2014-01-02,-18.0,0.0,0.6,0.4,14
2,2014-01-03,-15.5,0.0,0.0,0.0,14
3,2014-01-04,-7.8,0.0,2.6,3.0,14
4,2014-01-05,-1.3,5.0,9.6,16.2,16

In [12]:
temp_df = temp_df.rename(columns={'Mean Temp (°C)': 'mean_temp', 
                                  'Total Rain (mm)': 'total_rain',
                                  'Total Snow (cm)': 'total_snow',
                                  'Total Precip (mm)': 'total_precip',
                                  'Snow on Grnd (cm)': 'snow_on_ground' })
temp_df.head()

    Date/Time  mean_temp  total_rain  total_snow  total_precip  snow_on_ground
0  2014-01-01      -12.0         0.0         0.0           0.0              15
1  2014-01-02      -18.0         0.0         0.6           0.4              14
2  2014-01-03      -15.5         0.0         0.0           0.0              14
3  2014-01-04       -7.8         0.0         2.6           3.0              14
4  2014-01-05       -1.3         5.0         9.6          16.2              16

In [13]:
temp_df.to_csv("torontotemp_2014_to_2019.csv", index=False)